/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

body {
  margin: 20px 8px 80px;
  background-image: url("../images/clean-textile.png");
}
// Default divs to blank background color. Anything more specific overrides USWDS utility class. ¯\_(ツ)_/¯
div {
  background-color: #dddddd;
}
.color-compare {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 350px;
  border: 1px solid;
  overflow: hidden;
  background-color: #fff;
  .version {
    width: 100%;
    background-color: color("blue-50v");
    color: #fff;
    padding: 2px 5px;
    border-bottom: 1px solid black;
  }
  .box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #fff;
    > div {
      flex: 1 1 100%;
      padding: 10px;
      background-color: #fff;
      > div {
        height: 172px;
        width: 150px;
        border: 0 none;
        margin: 0 auto;
        background-color: #fff;
        .info {
          background-color: #fff;
          padding: 2px;
          width: 100%;
          text-align: center;
        }
      }

      input {
        margin: 5px auto 0;
        display: block;
        width: 100%;
      }

      span {
        display: block;
        margin: 5px auto;
      }
    }
  }
}
main {
  margin: 10px auto;
  width: 85%;
}
.color-family {
  background-color: transparent;
  border: 2px dashed color("gray-30");
  border-radius: 15px;
  padding: 0 20px 20px;
  margin-bottom: 20px;
  overflow: hidden;
  max-width: 940px;
  cursor: grab;
  .row {
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
    > div {
      height: 64px;
      flex: 0 0 64px;
      border: 1px solid #dddddd;
    }
    &.colors,
    &.vivid {
      > div {
        cursor: pointer;
        &.selected {
          border: 3px solid color("blue-50v");
          &[class*="blue"],
          &[class*="cyan"],
          &[class*="indigo"] {
            border: 3px solid color("red-50v")
          }
        }
      }
    }
    &.number {
      > div {
        height: auto;
        border: 1px solid transparent;
        background-color: color("gray-cool-4");
        padding: 2px;
      }
    }
    &.v > div:after {
      content: 'v';
    }
  }
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 10px;
  width: 100%;
  color: #fff;
  background-color: color('gray-warm-70');
  a {
    color: #fff;
  }
}
