.color-compare {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 350px;
  border: 1px solid;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  > div {
    flex: 1 1 100%;
    padding: 10px;
    > div {
      height: 150px;
      width: 150px;
      border: 1px solid transparent;
      margin: 0 auto;
    }
    input {
      margin: 5px auto 0;
      display: block;
      width: 100%;
    }
    span {
      display: block;
      margin: 5px auto;
    }
  }
}

.color-family {
  .row {
    display: flex;
    flex-wrap: nowrap;
    > div {
      height: 32px;
      flex: 0 0 64px;
      border: 1px solid #dddddd;
    }
    &.colors,
    &.vivid {
      > div {
        cursor: pointer;
      }
    }
    &.number {
      > div {
        height: auto;
        border: 1px solid transparent;
      }
    }
    &.v > div:after {
      content: 'v';
    }
  }
}

// blue
.blue {
  .colors {
    .color-5 {
      background: #eff6fb;
    }
    .color-10 {
      background: #d9e8f6;
    }
    .color-20 {
      background: #aacdec;
    }
    .color-30 {
      background : #73b3e7;
    }
    .color-40 {
      background: #4f97d1;
    }
    .color-50 {
      background: #2378c3;
    }
    .color-60 {
      background: #2c608a;
    }
    .color-70 {
      background: #274863;
    }
    .color-80 {
      background: #1f303e;
    }
    .color-90 {
      background: #11181d;
    }
  }
  .vivid {
    .color-5 {
      background: #dddddd;
    }
    .color-10 {
      background: #dddddd;
    }
    .color-20 {
      background: #dddddd;
    }
    .color-30 {
      background : #58b4ff;
    }
    .color-40 {
      background: #2491ff;
    }
    .color-50 {
      background: #0076d6;
    }
    .color-60 {
      background: #005ea2;
    }
    .color-70 {
      background: #0b4778;
    }
    .color-80 {
      background: #112f4e;
    }
    .color-90 {
      background: #dddddd;
    }
  }
}

// blue-cool
.blue-cool {
  .colors {
    .color-5 {
      background: #e7f2f5;
    }
    .color-10 {
      background: #dae9ee;
    }
    .color-20 {
      background: #adcfdc;
    }
    .color-30 {
      background : #82b4c9;
    }
    .color-40 {
      background: #6499af;
    }
    .color-50 {
      background: #3a7d95;
    }
    .color-60 {
      background: #2e6276;
    }
    .color-70 {
      background: #224a58;
    }
    .color-80 {
      background: #14333d;
    }
    .color-90 {
      background: #0f191c;
    }
  }
  .vivid {
    .color-5 {
      background: #e1f3f8;
    }
    .color-10 {
      background: #dddddd;
    }
    .color-20 {
      background: #97d4ea;
    }
    .color-30 {
      background : #59b9de;
    }
    .color-40 {
      background: #28a0cb;
    }
    .color-50 {
      background: #0d7ea2;
    }
    .color-60 {
      background: #07648d;
    }
    .color-70 {
      background: #074b69;
    }
    .color-80 {
      background: #002d3f;
    }
    .color-90 {
      background: #dddddd;
    }
  }
}

// blue-warm
.blue-warm {
  .colors {
    .color-5 {
      background: #ecf1f7;
    }
    .color-10 {
      background: #e1e7f1;
    }
    .color-20 {
      background: #bbcae4;
    }
    .color-30 {
      background : #98afd2;
    }
    .color-40 {
      background: #7292c7;
    }
    .color-50 {
      background: #4a77b4;
    }
    .color-60 {
      background: #345d96;
    }
    .color-70 {
      background: #2f4668;
    }
    .color-80 {
      background: #252f3e;
    }
    .color-90 {
      background: #13171f;
    }
  }
  .vivid {
    .color-5 {
      background: #dddddd;
    }
    .color-10 {
      background: #dddddd;
    }
    .color-20 {
      background: #b7caf0;
    }
    .color-30 {
      background: #81aefc;
    }
    .color-40 {
      background: #5994f6;
    }
    .color-50 {
      background: #2672de;
    }
    .color-60 {
      background: #0050d8;
    }
    .color-70 {
      background: #1a4480;
    }
    .color-80 {
      background: #162e51;
    }
    .color-90 {
      background: #dddddd;
    }
  }
}

// cyan
.cyan {
  .colors {
    .color-5 {
      background: #e7f6f8;
    }
    .color-10 {
      background: #ccecf2;
    }
    .color-20 {
      background: #9ddfeb;
    }
    .color-30 {
      background : #6ecbdb;
    }
    .color-40 {
      background: #449dac;
    }
    .color-50 {
      background: #168092;
    }
    .color-60 {
      background: #2a646d;
    }
    .color-70 {
      background: #2c4a4e;
    }
    .color-80 {
      background: #203133;
    }
    .color-90 {
      background: #111819;
    }
  }
  .vivid {
    .color-5 {
      background: #dddddd;
    }
    .color-10 {
      background: #a8f2ff;
    }
    .color-20 {
      background: #52daf2;
    }
    .color-30 {
      background: #00bde3;
    }
    .color-40 {
      background: #009ec1;
    }
    .color-50 {
      background: #dddddd;
    }
    .color-60 {
      background: #dddddd;
    }
    .color-70 {
      background: #dddddd;
    }
    .color-80 {
      background: #dddddd;
    }
    .color-90 {
      background: #dddddd;
    }
  }
}

// indigo
.indigo {
  .colors {
    .color-5 {
      background: #efeff8;
    }
    .color-10 {
      background: #e5e4fa;
    }
    .color-20 {
      background: #c5c5f3;
    }
    .color-30 {
      background: #a5a8eb;
    }
    .color-40 {
      background: #8889db;
    }
    .color-50 {
      background: #676cc8;
    }
    .color-60 {
      background: #4d52af;
    }
    .color-70 {
      background: #3d4076;
    }
    .color-80 {
      background: #2b2c40;
    }
    .color-90 {
      background: #16171f;
    }
  }
  .vivid {
    .color-5 {
      background: #dddddd;
    }
    .color-10 {
      background: #dddddd;
    }
    .color-20 {
      background: #c4c6f2;
    }
    .color-30 {
      background: #a5a8e8;
    }
    .color-40 {
      background: #dddddd;
    }
    .color-50 {
      background: #656bd7;
    }
    .color-60 {
      background: #4d52b0;
    }
    .color-70 {
      background: #dddddd;
    }
    .color-80 {
      background: #dddddd;
    }
    .color-90 {
      background: #dddddd;
    }
  }
}

// indigo-cool
.indigo-cool {
  .colors {
    .color-5 {
      background: #eef0f9;
    }
    .color-10 {
      background: #e1e6f9;
    }
    .color-20 {
      background: #bbc8f5;
    }
    .color-30 {
      background: #96abee;
    }
    .color-40 {
      background: #6b8ee8;
    }
    .color-50 {
      background: #496fd8;
    }
    .color-60 {
      background: #3f57a6;
    }
    .color-70 {
      background: #374274;
    }
    .color-80 {
      background: #292d42;
    }
    .color-90 {
      background: #151622;
    }
  }
  .vivid {
    .color-5 {
      background: #dddddd;
    }
    .color-10 {
      background: #dddddd;
    }
    .color-20 {
      background: #dddddd;
    }
    .color-30 {
      background: #dddddd;
    }
    .color-40 {
      background: #628ef4;
    }
    .color-50 {
      background: #dddddd;
    }
    .color-60 {
      background: #4150f2;
    }
    .color-70 {
      background: #dddddd;
    }
    .color-80 {
      background: #dddddd;
    }
    .color-90 {
      background: #dddddd;
    }
  }
}

// indigo-warm
.indigo-warm {
  .colors {
    .color-5 {
      background: #f1eff7;
    }
    .color-10 {
      background: #e7e3fa;
    }
    .color-20 {
      background: #cbc4f2;
    }
    .color-30 {
      background: #afa5e8;
    }
    .color-40 {
      background: #9287d8;
    }
    .color-50 {
      background: #7665d1;
    }
    .color-60 {
      background: #5e519e;
    }
    .color-70 {
      background: #453c7b;
    }
    .color-80 {
      background: #2e2c40;
    }
    .color-90 {
      background: #18161d;
    }
  }
  .vivid {
    .color-5 {
      background: #dddddd;
    }
    .color-10 {
      background: #dddddd;
    }
    .color-20 {
      background: #dddddd;
    }
    .color-30 {
      background: #b69fff;
    }
    .color-40 {
      background: #967efb;
    }
    .color-50 {
      background: #745fe9;
    }
    .color-60 {
      background: #5942d2;
    }
    .color-70 {
      background: #dddddd;
    }
    .color-80 {
      background: #dddddd;
    }
    .color-90 {
      background: #dddddd;
    }
  }
}

// orange
.orange {
  .colors {
    .color-5 {
      background: #f6efe9;
    }
    .color-10 {
      background: #f2e4d4;
    }
    .color-20 {
      background: #f3bf90;
    }
    .color-30 {
      background: #f09860;
    }
    .color-40 {
      background: #dd7533;
    }
    .color-50 {
      background: #a86437;
    }
    .color-60 {
      background: #775540;
    }
    .color-70 {
      background: #524236;
    }
    .color-80 {
      background: #332d27;
    }
    .color-90 {
      background: #1b1614;
    }
  }
  .vivid {
    .color-5 {
      background: #fef2e4;
    }
    .color-10 {
      background: #fce2c5;
    }
    .color-20 {
      background: #ffbc78;
    }
    .color-30 {
      background: #fa9441;
    }
    .color-40 {
      background: #e66f0e;
    }
    .color-50 {
      background: #c05600;
    }
    .color-60 {
      background: #dddddd;
    }
    .color-70 {
      background: #dddddd;
    }
    .color-80 {
      background: #dddddd;
    }
    .color-90 {
      background: #dddddd;
    }
  }
}

// orange warm
.orange-warm {
  .colors {
    .color-5 {
      background: #faeee5;
    }
    .color-10 {
      background: #fbe0d0;
    }
    .color-20 {
      background: #f7bca2;
    }
    .color-30 {
      background: #f3966d;
    }
    .color-40 {
      background: #e17141;
    }
    .color-50 {
      background: #bd5727;
    }
    .color-60 {
      background: #914734;
    }
    .color-70 {
      background: #633a32;
    }
    .color-80 {
      background: #3d2925;
    }
    .color-90 {
      background: #1c1615;
    }
  }
  .vivid {
    .color-5 {
      background: #dddddd;
    }
    .color-10 {
      background: #dddddd;
    }
    .color-20 {
      background: #fbbaa7;
    }
    .color-30 {
      background: #fc906d;
    }
    .color-40 {
      background: #ff580a;
    }
    .color-50 {
      background: #d24302;
    }
    .color-60 {
      background: #dddddd;
    }
    .color-70 {
      background: #dddddd;
    }
    .color-80 {
      background: #dddddd;
    }
    .color-90 {
      background: #dddddd;
    }
  }
}

// yellow
.yellow {
  .colors {
    .color-5 {
      background: #faf3d1;
    }
    .color-10 {
      background: #f5e6af;
    }
    .color-20 {
      background: #e6c74c;
    }
    .color-30 {
      background: #c9ab48;
    }
    .color-40 {
      background: #a88f48;
    }
    .color-50 {
      background: #8a7237;
    }
    .color-60 {
      background: #6b5a39;
    }
    .color-70 {
      background: #504332;
    }
    .color-80 {
      background: #332d27;
    }
    .color-90 {
      background: #1a1614;
    }
  }
  .vivid {
    .color-5 {
      background: #dddddd;
    }
    .color-10 {
      background: #fee685;
    }
    .color-20 {
      background: #face00;
    }
    .color-30 {
      background: #dddddd;
    }
    .color-40 {
      background: #dddddd;
    }
    .color-50 {
      background: #dddddd;
    }
    .color-60 {
      background: #dddddd;
    }
    .color-70 {
      background: #dddddd;
    }
    .color-80 {
      background: #dddddd;
    }
    .color-90 {
      background: #dddddd;
    }
  }
}

// gold
.gold {
  .colors {
    .color-5 {
      background: #f5f0e6;
    }
    .color-10 {
      background: #f1e5cd;
    }
    .color-20 {
      background: #dec69a;
    }
    .color-30 {
      background: #c7a97b;
    }
    .color-40 {
      background: #ad8b65;
    }
    .color-50 {
      background: #8e704f;
    }
    .color-60 {
      background: #6b5947;
    }
    .color-70 {
      background: #4d4438;
    }
    .color-80 {
      background: #322d26;
    }
    .color-90 {
      background: #191714;
    }
  }
  .vivid {
    .color-5 {
      background: #fef0c8;
    }
    .color-10 {
      background: #ffe396;
    }
    .color-20 {
      background: #ffbe2e;
    }
    .color-30 {
      background: #e5a000;
    }
    .color-40 {
      background: #c2850c;
    }
    .color-50 {
      background: #936f38;
    }
    .color-60 {
      background: #dddddd;
    }
    .color-70 {
      background: #dddddd;
    }
    .color-80 {
      background: #dddddd;
    }
    .color-90 {
      background: #dddddd;
    }
  }
}

// green
.green {
  .colors {
    .color-5 {
      background: #eaf4dd;
    }
    .color-10 {
      background: #dfeacd;
    }
    .color-20 {
      background: #b8d293;
    }
    .color-30 {
      background : #9bb672;
    }
    .color-40 {
      background: #7d9b4e;
    }
    .color-50 {
      background: #607f35;
    }
    .color-60 {
      background: #4c6424;
    }
    .color-70 {
      background: #3c4a29;
    }
    .color-80 {
      background: #293021;
    }
    .color-90 {
      background: #161814;
    }
  }
  .vivid {
    .color-5 {
      background: #ddf9c7;
    }
    .color-10 {
      background: #c3ee90;
    }
    .color-20 {
      background: #98d035;
    }
    .color-30 {
      background : #7fb135;
    }
    .color-40 {
      background: #719f2a;
    }
    .color-50 {
      background: #538200;
    }
    .color-60 {
      background: #dddddd;
    }
    .color-70 {
      background: #dddddd;
    }
    .color-80 {
      background: #dddddd;
    }
    .color-90 {
      background: #dddddd;
    }
  }
}

// green-cool
.green-cool {
  .colors {
    .color-5 {
      background: #ecf3ec;
    }
    .color-10 {
      background: #dbebde;
    }
    .color-20 {
      background: #b4d0b9;
    }
    .color-30 {
      background : #86b98e;
    }
    .color-40 {
      background: #5e9f69;
    }
    .color-50 {
      background: #4d8055;
    }
    .color-60 {
      background: #446443;
    }
    .color-70 {
      background: #37493b;
    }
    .color-80 {
      background: #28312a;
    }
    .color-90 {
      background: #1a1f1a;
    }
  }
  .vivid {
    .color-5 {
      background: #e3f5e1;
    }
    .color-10 {
      background: #b7f5bd;
    }
    .color-20 {
      background: #70e17b;
    }
    .color-30 {
      background : #21c834;
    }
    .color-40 {
      background: #00a91c;
    }
    .color-50 {
      background: #008817;
    }
    .color-60 {
      background: #dddddd;
    }
    .color-70 {
      background: #dddddd;
    }
    .color-80 {
      background: #dddddd;
    }
    .color-90 {
      background: #dddddd;
    }
  }
}

// green-warm
.green-warm {
  .colors {
    .color-5 {
      background: #f1f4d7;
    }
    .color-10 {
      background: #e7eab7;
    }
    .color-20 {
      background: #cbd17a;
    }
    .color-30 {
      background: #a6b557;
    }
    .color-40 {
      background: #8a984b;
    }
    .color-50 {
      background: #6f7a41;
    }
    .color-60 {
      background: #5a5f38;
    }
    .color-70 {
      background: #45472f;
    }
    .color-80 {
      background: #2d2f21;
    }
    .color-90 {
      background: #171712;
    }
  }
  .vivid {
    .color-5 {
      background: #f1f6a5;
    }
    .color-10 {
      background: #e2f106;
    }
    .color-20 {
      background: #c5d30a;
    }
    .color-30 {
      background : #a3b72c;
    }
    .color-40 {
      background: #7e9c1d;
    }
    .color-50 {
      background: #6a7d00;
    }
    .color-60 {
      background: #dddddd;
    }
    .color-70 {
      background: #dddddd;
    }
    .color-80 {
      background: #dddddd;
    }
    .color-90 {
      background: #dddddd;
    }
  }
}

// magenta
.magenta {
  .colors {
    .color-5 {
      background: #f9f0f2;
    }
    .color-10 {
      background: #f6e1e8;
    }
    .color-20 {
      background: #f0bbcc;
    }
    .color-30 {
      background: #e895b3;
    }
    .color-40 {
      background: #e0699f;
    }
    .color-50 {
      background: #c84281;
    }
    .color-60 {
      background: #8b4566;
    }
    .color-70 {
      background: #66364b;
    }
    .color-80 {
      background: #402731;
    }
    .color-90 {
      background: #1b1617;
    }
  }
  .vivid {
    .color-5 {
      background: #dddddd;
    }
    .color-10 {
      background: #ffddea;
    }
    .color-20 {
      background: #ffb4cf;
    }
    .color-30 {
      background : #ff87b2;
    }
    .color-40 {
      background: #fd4496;
    }
    .color-50 {
      background: #d72d79;
    }
    .color-60 {
      background: #ab2165;
    }
    .color-70 {
      background: #dddddd;
    }
    .color-80 {
      background: #dddddd;
    }
    .color-90 {
      background: #dddddd;
    }
  }
}

// mint
.mint {
  .colors {
    .color-5 {
      background: #dbf6ed;
    }
    .color-10 {
      background: #c7efe2;
    }
    .color-20 {
      background: #92d9bb;
    }
    .color-30 {
      background: #5abf95;
    }
    .color-40 {
      background: #34a37e;
    }
    .color-50 {
      background: #1f8462;
    }
    .color-60 {
      background: #286846;
    }
    .color-70 {
      background: #204e34;
    }
    .color-80 {
      background: #193324;
    }
    .color-90 {
      background: #0d1a12;
    }
  }
  .vivid {
    .color-5 {
      background: #c9fbeb;
    }
    .color-10 {
      background: #5dfdc8;
    }
    .color-20 {
      background: #0ceda6;
    }
    .color-30 {
      background : #04c585;
    }
    .color-40 {
      background: #dddddd;
    }
    .color-50 {
      background: #dddddd;
    }
    .color-60 {
      background: #146947;
    }
    .color-70 {
      background: #dddddd;
    }
    .color-80 {
      background: #dddddd;
    }
    .color-90 {
      background: #dddddd;
    }
  }
}

// mint-cool
.mint-cool {
  .colors {
    .color-5 {
      background: #e0f7f6;
    }
    .color-10 {
      background: #c4eeeb;
    }
    .color-20 {
      background: #9bd4cf;
    }
    .color-30 {
      background: #6fbab3;
    }
    .color-40 {
      background: #4f9e99;
    }
    .color-50 {
      background: #21827f;
    }
    .color-60 {
      background: #376462;
    }
    .color-70 {
      background: #2a4b45;
    }
    .color-80 {
      background: #203131;
    }
    .color-90 {
      background: #111818;
    }
  }
  .vivid {
    .color-5 {
      background: #d5fbf3;
    }
    .color-10 {
      background: #7efbe1;
    }
    .color-20 {
      background: #29e1cb;
    }
    .color-30 {
      background : #1dc2ae;
    }
    .color-40 {
      background: #00a398;
    }
    .color-50 {
      background: #dddddd;
    }
    .color-60 {
      background: #dddddd;
    }
    .color-70 {
      background: #dddddd;
    }
    .color-80 {
      background: #dddddd;
    }
    .color-90 {
      background: #dddddd;
    }
  }
}

// red
.red {
  .colors {
    .color-5 {
      background: #f9eeee;
    }
    .color-10 {
      background: #f8e1de;
    }
    .color-20 {
      background: #f7bbb1;
    }
    .color-30 {
      background: #f2938c;
    }
    .color-40 {
      background: #e9695f;
    }
    .color-50 {
      background: #d83933;
    }
    .color-60 {
      background: #a23737;
    }
    .color-70 {
      background: #6f3331;
    }
    .color-80 {
      background: #3e2927;
    }
    .color-90 {
      background: #1b1616;
    }
  }
  .vivid {
    .color-5 {
      background: #dddddd;
    }
    .color-10 {
      background: #fde0db;
    }
    .color-20 {
      background: #fdb8ae;
    }
    .color-30 {
      background: #ff8d7b;
    }
    .color-40 {
      background: #fb5a47;
    }
    .color-50 {
      background: #e52207;
    }
    .color-60 {
      background: #b50909;
    }
    .color-70 {
      background: #8b0a03;
    }
    .color-80 {
      background: #5c1111;
    }
    .color-90 {
      background: #dddddd;
    }
  }
}

// red-cool
.red-cool {
  .colors {
    .color-5 {
      background: #f8eff1;
    }
    .color-10 {
      background: #f3e1e4;
    }
    .color-20 {
      background: #ecbec6;
    }
    .color-30 {
      background: #e09aa6;
    }
    .color-40 {
      background: #e16b80;
    }
    .color-50 {
      background: #cd425b;
    }
    .color-60 {
      background: #9e394b;
    }
    .color-70 {
      background: #68363f;
    }
    .color-80 {
      background: #40282c;
    }
    .color-90 {
      background: #1e1517;
    }
  }
  .vivid {
    .color-5 {
      background: #dddddd;
    }
    .color-10 {
      background: #f8dfe2;
    }
    .color-20 {
      background: #f8b9c5;
    }
    .color-30 {
      background: #fd8ba0;
    }
    .color-40 {
      background: #f45d79;
    }
    .color-50 {
      background: #e41d3d;
    }
    .color-60 {
      background: #b21d38;
    }
    .color-70 {
      background: #822133;
    }
    .color-80 {
      background: #dddddd;
    }
    .color-90 {
      background: #dddddd;
    }
  }
}

// red-warm
.red-warm {
  .colors {
    .color-5 {
      background: #f6efea;
    }
    .color-10 {
      background: #f4e3db;
    }
    .color-20 {
      background: #ecc0a7;
    }
    .color-30 {
      background: #dca081;
    }
    .color-40 {
      background: #d27a56;
    }
    .color-50 {
      background: #c3512c;
    }
    .color-60 {
      background: #805039;
    }
    .color-70 {
      background: #524236;
    }
    .color-80 {
      background: #332d29;
    }
    .color-90 {
      background: #1f1c18;
    }
  }
  .vivid {
    .color-5 {
      background: #dddddd;
    }
    .color-10 {
      background: #dddddd;
    }
    .color-20 {
      background: #f6bd9c;
    }
    .color-30 {
      background: #f39268;
    }
    .color-40 {
      background: #ee601d;
    }
    .color-50 {
      background: #d63e04;
    }
    .color-60 {
      background: #dddddd;
    }
    .color-70 {
      background: #dddddd;
    }
    .color-80 {
      background: #dddddd;
    }
    .color-90 {
      background: #dddddd;
    }
  }
}

// violet
.violet {
  .colors {
    .color-5 {
      background: #f4f1f9;
    }
    .color-10 {
      background: #ebe3f9;
    }
    .color-20 {
      background: #d0c3e9;
    }
    .color-30 {
      background: #b8a2e3;
    }
    .color-40 {
      background: #9d84d2;
    }
    .color-50 {
      background: #8168b3;
    }
    .color-60 {
      background: #665190;
    }
    .color-70 {
      background: #4c3d69;
    }
    .color-80 {
      background: #312b3f;
    }
    .color-90 {
      background: #18161d;
    }
  }
  .vivid {
    .color-5 {
      background: #dddddd;
    }
    .color-10 {
      background: #ede3ff;
    }
    .color-20 {
      background: #d5bfff;
    }
    .color-30 {
      background: #c39deb;
    }
    .color-40 {
      background: #ad79e9;
    }
    .color-50 {
      background: #9355dc;
    }
    .color-60 {
      background: #783cb9;
    }
    .color-70 {
      background: #562b97;
    }
    .color-80 {
      background: #dddddd;
    }
    .color-90 {
      background: #dddddd;
    }
  }
}

// violet-warm
.violet-warm {
  .colors {
    .color-5 {
      background: #f8f0f9;
    }
    .color-10 {
      background: #f6dff8;
    }
    .color-20 {
      background: #e2bee4;
    }
    .color-30 {
      background: #d29ad8;
    }
    .color-40 {
      background: #bf77c8;
    }
    .color-50 {
      background: #b04abd;
    }
    .color-60 {
      background: #864381;
    }
    .color-70 {
      background: #5c395a;
    }
    .color-80 {
      background: #382936;
    }
    .color-90 {
      background: #1b151b;
    }
  }
  .vivid {
    .color-5 {
      background: #fbebfd;
    }
    .color-10 {
      background: #fbdcff;
    }
    .color-20 {
      background: #f4b2ff;
    }
    .color-30 {
      background: #ee83ff;
    }
    .color-40 {
      background: #d85bef;
    }
    .color-50 {
      background: #be32d0;
    }
    .color-60 {
      background: #dddddd;
    }
    .color-70 {
      background: #dddddd;
    }
    .color-80 {
      background: #dddddd;
    }
    .color-90 {
      background: #dddddd;
    }
  }
}

// gray
.gray {
  .colors {
    .color-1 {
      background: #fcfcfc;
    }
    .color-2 {
      background: #f9f9f9;
    }
    .color-3 {
      background: #f6f6f6;
    }
    .color-4 {
      background: #f3f3f3;
    }
    .color-5 {
      background: #f0f0f0;
    }
    .color-10 {
      background: #e6e6e6;
    }
    .color-20 {
      background: #c9c9c9;
    }
    .color-30 {
      background: #adadad;
    }
    .color-40 {
      background: #919191;
    }
    .color-50 {
      background: #757575;
    }
    .color-60 {
      background: #5c5c5c;
    }
    .color-70 {
      background: #454545;
    }
    .color-80 {
      background: #2e2e2e;
    }
    .color-90 {
      background: #1b1b1b;
    }
    .color-100 {
      background: #000000;
    }
  }
}

// gray-cool
.gray-cool {
  .colors {
    .color-1 {
      background: #fbfcfd;
    }
    .color-2 {
      background: #f7f9fa;
    }
    .color-3 {
      background: #f5f6f7;
    }
    .color-4 {
      background: #f1f3f6;
    }
    .color-5 {
      background: #edeff0;
    }
    .color-10 {
      background: #dcdee0;
    }
    .color-20 {
      background: #c6cace;
    }
    .color-30 {
      background: #a9aeb1;
    }
    .color-40 {
      background: #8d9297;
    }
    .color-50 {
      background: #71767a;
    }
    .color-60 {
      background: #565c65;
    }
    .color-70 {
      background: #3d4551;
    }
    .color-80 {
      background: #2d2e2f;
    }
    .color-90 {
      background: #1c1d1f;
    }
  }
}

// gray-warm
.gray-warm {
  .colors {
    .color-1 {
      background: #fcfcfb;
    }
    .color-2 {
      background: #f9f9f7;
    }
    .color-3 {
      background: #f6f6f2;
    }
    .color-4 {
      background: #f5f5f0;
    }
    .color-5 {
      background: #f0f0ec;
    }
    .color-10 {
      background: #e6e6e2;
    }
    .color-20 {
      background: #cac9c0;
    }
    .color-30 {
      background: #afaea2;
    }
    .color-40 {
      background: #929285;
    }
    .color-50 {
      background: #76766a;
    }
    .color-60 {
      background: #5d5d52;
    }
    .color-70 {
      background: #454540;
    }
    .color-80 {
      background: #2e2e2a;
    }
    .color-90 {
      background: #171716;
    }
  }
}