.color-compare {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 350px;
  border: 1px solid;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between; }
  .color-compare > div {
    flex: 1 1 100%;
    padding: 10px; }
    .color-compare > div > div {
      height: 150px;
      width: 150px;
      border: 1px solid transparent;
      margin: 0 auto; }
    .color-compare > div input {
      margin: 5px auto 0;
      display: block;
      width: 100%; }
    .color-compare > div span {
      display: block;
      margin: 5px auto; }

.color-family .row {
  display: flex;
  flex-wrap: nowrap; }
  .color-family .row > div {
    height: 32px;
    flex: 0 0 64px;
    border: 1px solid #dddddd; }
  .color-family .row.colors > div, .color-family .row.vivid > div {
    cursor: pointer; }
  .color-family .row.number > div {
    height: auto;
    border: 1px solid transparent; }
  .color-family .row.v > div:after {
    content: 'v'; }

.blue .colors .color-5 {
  background: #eff6fb; }

.blue .colors .color-10 {
  background: #d9e8f6; }

.blue .colors .color-20 {
  background: #aacdec; }

.blue .colors .color-30 {
  background: #73b3e7; }

.blue .colors .color-40 {
  background: #4f97d1; }

.blue .colors .color-50 {
  background: #2378c3; }

.blue .colors .color-60 {
  background: #2c608a; }

.blue .colors .color-70 {
  background: #274863; }

.blue .colors .color-80 {
  background: #1f303e; }

.blue .colors .color-90 {
  background: #11181d; }

.blue .vivid .color-5 {
  background: #dddddd; }

.blue .vivid .color-10 {
  background: #dddddd; }

.blue .vivid .color-20 {
  background: #dddddd; }

.blue .vivid .color-30 {
  background: #58b4ff; }

.blue .vivid .color-40 {
  background: #2491ff; }

.blue .vivid .color-50 {
  background: #0076d6; }

.blue .vivid .color-60 {
  background: #005ea2; }

.blue .vivid .color-70 {
  background: #0b4778; }

.blue .vivid .color-80 {
  background: #112f4e; }

.blue .vivid .color-90 {
  background: #dddddd; }

.blue-cool .colors .color-5 {
  background: #e7f2f5; }

.blue-cool .colors .color-10 {
  background: #dae9ee; }

.blue-cool .colors .color-20 {
  background: #adcfdc; }

.blue-cool .colors .color-30 {
  background: #82b4c9; }

.blue-cool .colors .color-40 {
  background: #6499af; }

.blue-cool .colors .color-50 {
  background: #3a7d95; }

.blue-cool .colors .color-60 {
  background: #2e6276; }

.blue-cool .colors .color-70 {
  background: #224a58; }

.blue-cool .colors .color-80 {
  background: #14333d; }

.blue-cool .colors .color-90 {
  background: #0f191c; }

.blue-cool .vivid .color-5 {
  background: #e1f3f8; }

.blue-cool .vivid .color-10 {
  background: #dddddd; }

.blue-cool .vivid .color-20 {
  background: #97d4ea; }

.blue-cool .vivid .color-30 {
  background: #59b9de; }

.blue-cool .vivid .color-40 {
  background: #28a0cb; }

.blue-cool .vivid .color-50 {
  background: #0d7ea2; }

.blue-cool .vivid .color-60 {
  background: #07648d; }

.blue-cool .vivid .color-70 {
  background: #074b69; }

.blue-cool .vivid .color-80 {
  background: #002d3f; }

.blue-cool .vivid .color-90 {
  background: #dddddd; }

.blue-warm .colors .color-5 {
  background: #ecf1f7; }

.blue-warm .colors .color-10 {
  background: #e1e7f1; }

.blue-warm .colors .color-20 {
  background: #bbcae4; }

.blue-warm .colors .color-30 {
  background: #98afd2; }

.blue-warm .colors .color-40 {
  background: #7292c7; }

.blue-warm .colors .color-50 {
  background: #4a77b4; }

.blue-warm .colors .color-60 {
  background: #345d96; }

.blue-warm .colors .color-70 {
  background: #2f4668; }

.blue-warm .colors .color-80 {
  background: #252f3e; }

.blue-warm .colors .color-90 {
  background: #13171f; }

.blue-warm .vivid .color-5 {
  background: #dddddd; }

.blue-warm .vivid .color-10 {
  background: #dddddd; }

.blue-warm .vivid .color-20 {
  background: #b7caf0; }

.blue-warm .vivid .color-30 {
  background: #81aefc; }

.blue-warm .vivid .color-40 {
  background: #5994f6; }

.blue-warm .vivid .color-50 {
  background: #2672de; }

.blue-warm .vivid .color-60 {
  background: #0050d8; }

.blue-warm .vivid .color-70 {
  background: #1a4480; }

.blue-warm .vivid .color-80 {
  background: #162e51; }

.blue-warm .vivid .color-90 {
  background: #dddddd; }

.cyan .colors .color-5 {
  background: #e7f6f8; }

.cyan .colors .color-10 {
  background: #ccecf2; }

.cyan .colors .color-20 {
  background: #9ddfeb; }

.cyan .colors .color-30 {
  background: #6ecbdb; }

.cyan .colors .color-40 {
  background: #449dac; }

.cyan .colors .color-50 {
  background: #168092; }

.cyan .colors .color-60 {
  background: #2a646d; }

.cyan .colors .color-70 {
  background: #2c4a4e; }

.cyan .colors .color-80 {
  background: #203133; }

.cyan .colors .color-90 {
  background: #111819; }

.cyan .vivid .color-5 {
  background: #dddddd; }

.cyan .vivid .color-10 {
  background: #a8f2ff; }

.cyan .vivid .color-20 {
  background: #52daf2; }

.cyan .vivid .color-30 {
  background: #00bde3; }

.cyan .vivid .color-40 {
  background: #009ec1; }

.cyan .vivid .color-50 {
  background: #dddddd; }

.cyan .vivid .color-60 {
  background: #dddddd; }

.cyan .vivid .color-70 {
  background: #dddddd; }

.cyan .vivid .color-80 {
  background: #dddddd; }

.cyan .vivid .color-90 {
  background: #dddddd; }

.indigo .colors .color-5 {
  background: #efeff8; }

.indigo .colors .color-10 {
  background: #e5e4fa; }

.indigo .colors .color-20 {
  background: #c5c5f3; }

.indigo .colors .color-30 {
  background: #a5a8eb; }

.indigo .colors .color-40 {
  background: #8889db; }

.indigo .colors .color-50 {
  background: #676cc8; }

.indigo .colors .color-60 {
  background: #4d52af; }

.indigo .colors .color-70 {
  background: #3d4076; }

.indigo .colors .color-80 {
  background: #2b2c40; }

.indigo .colors .color-90 {
  background: #16171f; }

.indigo .vivid .color-5 {
  background: #dddddd; }

.indigo .vivid .color-10 {
  background: #dddddd; }

.indigo .vivid .color-20 {
  background: #c4c6f2; }

.indigo .vivid .color-30 {
  background: #a5a8e8; }

.indigo .vivid .color-40 {
  background: #dddddd; }

.indigo .vivid .color-50 {
  background: #656bd7; }

.indigo .vivid .color-60 {
  background: #4d52b0; }

.indigo .vivid .color-70 {
  background: #dddddd; }

.indigo .vivid .color-80 {
  background: #dddddd; }

.indigo .vivid .color-90 {
  background: #dddddd; }

.indigo-cool .colors .color-5 {
  background: #eef0f9; }

.indigo-cool .colors .color-10 {
  background: #e1e6f9; }

.indigo-cool .colors .color-20 {
  background: #bbc8f5; }

.indigo-cool .colors .color-30 {
  background: #96abee; }

.indigo-cool .colors .color-40 {
  background: #6b8ee8; }

.indigo-cool .colors .color-50 {
  background: #496fd8; }

.indigo-cool .colors .color-60 {
  background: #3f57a6; }

.indigo-cool .colors .color-70 {
  background: #374274; }

.indigo-cool .colors .color-80 {
  background: #292d42; }

.indigo-cool .colors .color-90 {
  background: #151622; }

.indigo-cool .vivid .color-5 {
  background: #dddddd; }

.indigo-cool .vivid .color-10 {
  background: #dddddd; }

.indigo-cool .vivid .color-20 {
  background: #dddddd; }

.indigo-cool .vivid .color-30 {
  background: #dddddd; }

.indigo-cool .vivid .color-40 {
  background: #628ef4; }

.indigo-cool .vivid .color-50 {
  background: #dddddd; }

.indigo-cool .vivid .color-60 {
  background: #4150f2; }

.indigo-cool .vivid .color-70 {
  background: #dddddd; }

.indigo-cool .vivid .color-80 {
  background: #dddddd; }

.indigo-cool .vivid .color-90 {
  background: #dddddd; }

.indigo-warm .colors .color-5 {
  background: #f1eff7; }

.indigo-warm .colors .color-10 {
  background: #e7e3fa; }

.indigo-warm .colors .color-20 {
  background: #cbc4f2; }

.indigo-warm .colors .color-30 {
  background: #afa5e8; }

.indigo-warm .colors .color-40 {
  background: #9287d8; }

.indigo-warm .colors .color-50 {
  background: #7665d1; }

.indigo-warm .colors .color-60 {
  background: #5e519e; }

.indigo-warm .colors .color-70 {
  background: #453c7b; }

.indigo-warm .colors .color-80 {
  background: #2e2c40; }

.indigo-warm .colors .color-90 {
  background: #18161d; }

.indigo-warm .vivid .color-5 {
  background: #dddddd; }

.indigo-warm .vivid .color-10 {
  background: #dddddd; }

.indigo-warm .vivid .color-20 {
  background: #dddddd; }

.indigo-warm .vivid .color-30 {
  background: #b69fff; }

.indigo-warm .vivid .color-40 {
  background: #967efb; }

.indigo-warm .vivid .color-50 {
  background: #745fe9; }

.indigo-warm .vivid .color-60 {
  background: #5942d2; }

.indigo-warm .vivid .color-70 {
  background: #dddddd; }

.indigo-warm .vivid .color-80 {
  background: #dddddd; }

.indigo-warm .vivid .color-90 {
  background: #dddddd; }

.orange .colors .color-5 {
  background: #f6efe9; }

.orange .colors .color-10 {
  background: #f2e4d4; }

.orange .colors .color-20 {
  background: #f3bf90; }

.orange .colors .color-30 {
  background: #f09860; }

.orange .colors .color-40 {
  background: #dd7533; }

.orange .colors .color-50 {
  background: #a86437; }

.orange .colors .color-60 {
  background: #775540; }

.orange .colors .color-70 {
  background: #524236; }

.orange .colors .color-80 {
  background: #332d27; }

.orange .colors .color-90 {
  background: #1b1614; }

.orange .vivid .color-5 {
  background: #fef2e4; }

.orange .vivid .color-10 {
  background: #fce2c5; }

.orange .vivid .color-20 {
  background: #ffbc78; }

.orange .vivid .color-30 {
  background: #fa9441; }

.orange .vivid .color-40 {
  background: #e66f0e; }

.orange .vivid .color-50 {
  background: #c05600; }

.orange .vivid .color-60 {
  background: #dddddd; }

.orange .vivid .color-70 {
  background: #dddddd; }

.orange .vivid .color-80 {
  background: #dddddd; }

.orange .vivid .color-90 {
  background: #dddddd; }

.orange-warm .colors .color-5 {
  background: #faeee5; }

.orange-warm .colors .color-10 {
  background: #fbe0d0; }

.orange-warm .colors .color-20 {
  background: #f7bca2; }

.orange-warm .colors .color-30 {
  background: #f3966d; }

.orange-warm .colors .color-40 {
  background: #e17141; }

.orange-warm .colors .color-50 {
  background: #bd5727; }

.orange-warm .colors .color-60 {
  background: #914734; }

.orange-warm .colors .color-70 {
  background: #633a32; }

.orange-warm .colors .color-80 {
  background: #3d2925; }

.orange-warm .colors .color-90 {
  background: #1c1615; }

.orange-warm .vivid .color-5 {
  background: #dddddd; }

.orange-warm .vivid .color-10 {
  background: #dddddd; }

.orange-warm .vivid .color-20 {
  background: #fbbaa7; }

.orange-warm .vivid .color-30 {
  background: #fc906d; }

.orange-warm .vivid .color-40 {
  background: #ff580a; }

.orange-warm .vivid .color-50 {
  background: #d24302; }

.orange-warm .vivid .color-60 {
  background: #dddddd; }

.orange-warm .vivid .color-70 {
  background: #dddddd; }

.orange-warm .vivid .color-80 {
  background: #dddddd; }

.orange-warm .vivid .color-90 {
  background: #dddddd; }

.yellow .colors .color-5 {
  background: #faf3d1; }

.yellow .colors .color-10 {
  background: #f5e6af; }

.yellow .colors .color-20 {
  background: #e6c74c; }

.yellow .colors .color-30 {
  background: #c9ab48; }

.yellow .colors .color-40 {
  background: #a88f48; }

.yellow .colors .color-50 {
  background: #8a7237; }

.yellow .colors .color-60 {
  background: #6b5a39; }

.yellow .colors .color-70 {
  background: #504332; }

.yellow .colors .color-80 {
  background: #332d27; }

.yellow .colors .color-90 {
  background: #1a1614; }

.yellow .vivid .color-5 {
  background: #dddddd; }

.yellow .vivid .color-10 {
  background: #fee685; }

.yellow .vivid .color-20 {
  background: #face00; }

.yellow .vivid .color-30 {
  background: #dddddd; }

.yellow .vivid .color-40 {
  background: #dddddd; }

.yellow .vivid .color-50 {
  background: #dddddd; }

.yellow .vivid .color-60 {
  background: #dddddd; }

.yellow .vivid .color-70 {
  background: #dddddd; }

.yellow .vivid .color-80 {
  background: #dddddd; }

.yellow .vivid .color-90 {
  background: #dddddd; }

.gold .colors .color-5 {
  background: #f5f0e6; }

.gold .colors .color-10 {
  background: #f1e5cd; }

.gold .colors .color-20 {
  background: #dec69a; }

.gold .colors .color-30 {
  background: #c7a97b; }

.gold .colors .color-40 {
  background: #ad8b65; }

.gold .colors .color-50 {
  background: #8e704f; }

.gold .colors .color-60 {
  background: #6b5947; }

.gold .colors .color-70 {
  background: #4d4438; }

.gold .colors .color-80 {
  background: #322d26; }

.gold .colors .color-90 {
  background: #191714; }

.gold .vivid .color-5 {
  background: #fef0c8; }

.gold .vivid .color-10 {
  background: #ffe396; }

.gold .vivid .color-20 {
  background: #ffbe2e; }

.gold .vivid .color-30 {
  background: #e5a000; }

.gold .vivid .color-40 {
  background: #c2850c; }

.gold .vivid .color-50 {
  background: #936f38; }

.gold .vivid .color-60 {
  background: #dddddd; }

.gold .vivid .color-70 {
  background: #dddddd; }

.gold .vivid .color-80 {
  background: #dddddd; }

.gold .vivid .color-90 {
  background: #dddddd; }

.green .colors .color-5 {
  background: #eaf4dd; }

.green .colors .color-10 {
  background: #dfeacd; }

.green .colors .color-20 {
  background: #b8d293; }

.green .colors .color-30 {
  background: #9bb672; }

.green .colors .color-40 {
  background: #7d9b4e; }

.green .colors .color-50 {
  background: #607f35; }

.green .colors .color-60 {
  background: #4c6424; }

.green .colors .color-70 {
  background: #3c4a29; }

.green .colors .color-80 {
  background: #293021; }

.green .colors .color-90 {
  background: #161814; }

.green .vivid .color-5 {
  background: #ddf9c7; }

.green .vivid .color-10 {
  background: #c3ee90; }

.green .vivid .color-20 {
  background: #98d035; }

.green .vivid .color-30 {
  background: #7fb135; }

.green .vivid .color-40 {
  background: #719f2a; }

.green .vivid .color-50 {
  background: #538200; }

.green .vivid .color-60 {
  background: #dddddd; }

.green .vivid .color-70 {
  background: #dddddd; }

.green .vivid .color-80 {
  background: #dddddd; }

.green .vivid .color-90 {
  background: #dddddd; }

.green-cool .colors .color-5 {
  background: #ecf3ec; }

.green-cool .colors .color-10 {
  background: #dbebde; }

.green-cool .colors .color-20 {
  background: #b4d0b9; }

.green-cool .colors .color-30 {
  background: #86b98e; }

.green-cool .colors .color-40 {
  background: #5e9f69; }

.green-cool .colors .color-50 {
  background: #4d8055; }

.green-cool .colors .color-60 {
  background: #446443; }

.green-cool .colors .color-70 {
  background: #37493b; }

.green-cool .colors .color-80 {
  background: #28312a; }

.green-cool .colors .color-90 {
  background: #1a1f1a; }

.green-cool .vivid .color-5 {
  background: #e3f5e1; }

.green-cool .vivid .color-10 {
  background: #b7f5bd; }

.green-cool .vivid .color-20 {
  background: #70e17b; }

.green-cool .vivid .color-30 {
  background: #21c834; }

.green-cool .vivid .color-40 {
  background: #00a91c; }

.green-cool .vivid .color-50 {
  background: #008817; }

.green-cool .vivid .color-60 {
  background: #dddddd; }

.green-cool .vivid .color-70 {
  background: #dddddd; }

.green-cool .vivid .color-80 {
  background: #dddddd; }

.green-cool .vivid .color-90 {
  background: #dddddd; }

.green-warm .colors .color-5 {
  background: #f1f4d7; }

.green-warm .colors .color-10 {
  background: #e7eab7; }

.green-warm .colors .color-20 {
  background: #cbd17a; }

.green-warm .colors .color-30 {
  background: #a6b557; }

.green-warm .colors .color-40 {
  background: #8a984b; }

.green-warm .colors .color-50 {
  background: #6f7a41; }

.green-warm .colors .color-60 {
  background: #5a5f38; }

.green-warm .colors .color-70 {
  background: #45472f; }

.green-warm .colors .color-80 {
  background: #2d2f21; }

.green-warm .colors .color-90 {
  background: #171712; }

.green-warm .vivid .color-5 {
  background: #f1f6a5; }

.green-warm .vivid .color-10 {
  background: #e2f106; }

.green-warm .vivid .color-20 {
  background: #c5d30a; }

.green-warm .vivid .color-30 {
  background: #a3b72c; }

.green-warm .vivid .color-40 {
  background: #7e9c1d; }

.green-warm .vivid .color-50 {
  background: #6a7d00; }

.green-warm .vivid .color-60 {
  background: #dddddd; }

.green-warm .vivid .color-70 {
  background: #dddddd; }

.green-warm .vivid .color-80 {
  background: #dddddd; }

.green-warm .vivid .color-90 {
  background: #dddddd; }

.magenta .colors .color-5 {
  background: #f9f0f2; }

.magenta .colors .color-10 {
  background: #f6e1e8; }

.magenta .colors .color-20 {
  background: #f0bbcc; }

.magenta .colors .color-30 {
  background: #e895b3; }

.magenta .colors .color-40 {
  background: #e0699f; }

.magenta .colors .color-50 {
  background: #c84281; }

.magenta .colors .color-60 {
  background: #8b4566; }

.magenta .colors .color-70 {
  background: #66364b; }

.magenta .colors .color-80 {
  background: #402731; }

.magenta .colors .color-90 {
  background: #1b1617; }

.magenta .vivid .color-5 {
  background: #dddddd; }

.magenta .vivid .color-10 {
  background: #ffddea; }

.magenta .vivid .color-20 {
  background: #ffb4cf; }

.magenta .vivid .color-30 {
  background: #ff87b2; }

.magenta .vivid .color-40 {
  background: #fd4496; }

.magenta .vivid .color-50 {
  background: #d72d79; }

.magenta .vivid .color-60 {
  background: #ab2165; }

.magenta .vivid .color-70 {
  background: #dddddd; }

.magenta .vivid .color-80 {
  background: #dddddd; }

.magenta .vivid .color-90 {
  background: #dddddd; }

.mint .colors .color-5 {
  background: #dbf6ed; }

.mint .colors .color-10 {
  background: #c7efe2; }

.mint .colors .color-20 {
  background: #92d9bb; }

.mint .colors .color-30 {
  background: #5abf95; }

.mint .colors .color-40 {
  background: #34a37e; }

.mint .colors .color-50 {
  background: #1f8462; }

.mint .colors .color-60 {
  background: #286846; }

.mint .colors .color-70 {
  background: #204e34; }

.mint .colors .color-80 {
  background: #193324; }

.mint .colors .color-90 {
  background: #0d1a12; }

.mint .vivid .color-5 {
  background: #c9fbeb; }

.mint .vivid .color-10 {
  background: #5dfdc8; }

.mint .vivid .color-20 {
  background: #0ceda6; }

.mint .vivid .color-30 {
  background: #04c585; }

.mint .vivid .color-40 {
  background: #dddddd; }

.mint .vivid .color-50 {
  background: #dddddd; }

.mint .vivid .color-60 {
  background: #146947; }

.mint .vivid .color-70 {
  background: #dddddd; }

.mint .vivid .color-80 {
  background: #dddddd; }

.mint .vivid .color-90 {
  background: #dddddd; }

.mint-cool .colors .color-5 {
  background: #e0f7f6; }

.mint-cool .colors .color-10 {
  background: #c4eeeb; }

.mint-cool .colors .color-20 {
  background: #9bd4cf; }

.mint-cool .colors .color-30 {
  background: #6fbab3; }

.mint-cool .colors .color-40 {
  background: #4f9e99; }

.mint-cool .colors .color-50 {
  background: #21827f; }

.mint-cool .colors .color-60 {
  background: #376462; }

.mint-cool .colors .color-70 {
  background: #2a4b45; }

.mint-cool .colors .color-80 {
  background: #203131; }

.mint-cool .colors .color-90 {
  background: #111818; }

.mint-cool .vivid .color-5 {
  background: #d5fbf3; }

.mint-cool .vivid .color-10 {
  background: #7efbe1; }

.mint-cool .vivid .color-20 {
  background: #29e1cb; }

.mint-cool .vivid .color-30 {
  background: #1dc2ae; }

.mint-cool .vivid .color-40 {
  background: #00a398; }

.mint-cool .vivid .color-50 {
  background: #dddddd; }

.mint-cool .vivid .color-60 {
  background: #dddddd; }

.mint-cool .vivid .color-70 {
  background: #dddddd; }

.mint-cool .vivid .color-80 {
  background: #dddddd; }

.mint-cool .vivid .color-90 {
  background: #dddddd; }

.red .colors .color-5 {
  background: #f9eeee; }

.red .colors .color-10 {
  background: #f8e1de; }

.red .colors .color-20 {
  background: #f7bbb1; }

.red .colors .color-30 {
  background: #f2938c; }

.red .colors .color-40 {
  background: #e9695f; }

.red .colors .color-50 {
  background: #d83933; }

.red .colors .color-60 {
  background: #a23737; }

.red .colors .color-70 {
  background: #6f3331; }

.red .colors .color-80 {
  background: #3e2927; }

.red .colors .color-90 {
  background: #1b1616; }

.red .vivid .color-5 {
  background: #dddddd; }

.red .vivid .color-10 {
  background: #fde0db; }

.red .vivid .color-20 {
  background: #fdb8ae; }

.red .vivid .color-30 {
  background: #ff8d7b; }

.red .vivid .color-40 {
  background: #fb5a47; }

.red .vivid .color-50 {
  background: #e52207; }

.red .vivid .color-60 {
  background: #b50909; }

.red .vivid .color-70 {
  background: #8b0a03; }

.red .vivid .color-80 {
  background: #5c1111; }

.red .vivid .color-90 {
  background: #dddddd; }

.red-cool .colors .color-5 {
  background: #f8eff1; }

.red-cool .colors .color-10 {
  background: #f3e1e4; }

.red-cool .colors .color-20 {
  background: #ecbec6; }

.red-cool .colors .color-30 {
  background: #e09aa6; }

.red-cool .colors .color-40 {
  background: #e16b80; }

.red-cool .colors .color-50 {
  background: #cd425b; }

.red-cool .colors .color-60 {
  background: #9e394b; }

.red-cool .colors .color-70 {
  background: #68363f; }

.red-cool .colors .color-80 {
  background: #40282c; }

.red-cool .colors .color-90 {
  background: #1e1517; }

.red-cool .vivid .color-5 {
  background: #dddddd; }

.red-cool .vivid .color-10 {
  background: #f8dfe2; }

.red-cool .vivid .color-20 {
  background: #f8b9c5; }

.red-cool .vivid .color-30 {
  background: #fd8ba0; }

.red-cool .vivid .color-40 {
  background: #f45d79; }

.red-cool .vivid .color-50 {
  background: #e41d3d; }

.red-cool .vivid .color-60 {
  background: #b21d38; }

.red-cool .vivid .color-70 {
  background: #822133; }

.red-cool .vivid .color-80 {
  background: #dddddd; }

.red-cool .vivid .color-90 {
  background: #dddddd; }

.red-warm .colors .color-5 {
  background: #f6efea; }

.red-warm .colors .color-10 {
  background: #f4e3db; }

.red-warm .colors .color-20 {
  background: #ecc0a7; }

.red-warm .colors .color-30 {
  background: #dca081; }

.red-warm .colors .color-40 {
  background: #d27a56; }

.red-warm .colors .color-50 {
  background: #c3512c; }

.red-warm .colors .color-60 {
  background: #805039; }

.red-warm .colors .color-70 {
  background: #524236; }

.red-warm .colors .color-80 {
  background: #332d29; }

.red-warm .colors .color-90 {
  background: #1f1c18; }

.red-warm .vivid .color-5 {
  background: #dddddd; }

.red-warm .vivid .color-10 {
  background: #dddddd; }

.red-warm .vivid .color-20 {
  background: #f6bd9c; }

.red-warm .vivid .color-30 {
  background: #f39268; }

.red-warm .vivid .color-40 {
  background: #ee601d; }

.red-warm .vivid .color-50 {
  background: #d63e04; }

.red-warm .vivid .color-60 {
  background: #dddddd; }

.red-warm .vivid .color-70 {
  background: #dddddd; }

.red-warm .vivid .color-80 {
  background: #dddddd; }

.red-warm .vivid .color-90 {
  background: #dddddd; }

.violet .colors .color-5 {
  background: #f4f1f9; }

.violet .colors .color-10 {
  background: #ebe3f9; }

.violet .colors .color-20 {
  background: #d0c3e9; }

.violet .colors .color-30 {
  background: #b8a2e3; }

.violet .colors .color-40 {
  background: #9d84d2; }

.violet .colors .color-50 {
  background: #8168b3; }

.violet .colors .color-60 {
  background: #665190; }

.violet .colors .color-70 {
  background: #4c3d69; }

.violet .colors .color-80 {
  background: #312b3f; }

.violet .colors .color-90 {
  background: #18161d; }

.violet .vivid .color-5 {
  background: #dddddd; }

.violet .vivid .color-10 {
  background: #ede3ff; }

.violet .vivid .color-20 {
  background: #d5bfff; }

.violet .vivid .color-30 {
  background: #c39deb; }

.violet .vivid .color-40 {
  background: #ad79e9; }

.violet .vivid .color-50 {
  background: #9355dc; }

.violet .vivid .color-60 {
  background: #783cb9; }

.violet .vivid .color-70 {
  background: #562b97; }

.violet .vivid .color-80 {
  background: #dddddd; }

.violet .vivid .color-90 {
  background: #dddddd; }

.violet-warm .colors .color-5 {
  background: #f8f0f9; }

.violet-warm .colors .color-10 {
  background: #f6dff8; }

.violet-warm .colors .color-20 {
  background: #e2bee4; }

.violet-warm .colors .color-30 {
  background: #d29ad8; }

.violet-warm .colors .color-40 {
  background: #bf77c8; }

.violet-warm .colors .color-50 {
  background: #b04abd; }

.violet-warm .colors .color-60 {
  background: #864381; }

.violet-warm .colors .color-70 {
  background: #5c395a; }

.violet-warm .colors .color-80 {
  background: #382936; }

.violet-warm .colors .color-90 {
  background: #1b151b; }

.violet-warm .vivid .color-5 {
  background: #fbebfd; }

.violet-warm .vivid .color-10 {
  background: #fbdcff; }

.violet-warm .vivid .color-20 {
  background: #f4b2ff; }

.violet-warm .vivid .color-30 {
  background: #ee83ff; }

.violet-warm .vivid .color-40 {
  background: #d85bef; }

.violet-warm .vivid .color-50 {
  background: #be32d0; }

.violet-warm .vivid .color-60 {
  background: #dddddd; }

.violet-warm .vivid .color-70 {
  background: #dddddd; }

.violet-warm .vivid .color-80 {
  background: #dddddd; }

.violet-warm .vivid .color-90 {
  background: #dddddd; }

.gray .colors .color-1 {
  background: #fcfcfc; }

.gray .colors .color-2 {
  background: #f9f9f9; }

.gray .colors .color-3 {
  background: #f6f6f6; }

.gray .colors .color-4 {
  background: #f3f3f3; }

.gray .colors .color-5 {
  background: #f0f0f0; }

.gray .colors .color-10 {
  background: #e6e6e6; }

.gray .colors .color-20 {
  background: #c9c9c9; }

.gray .colors .color-30 {
  background: #adadad; }

.gray .colors .color-40 {
  background: #919191; }

.gray .colors .color-50 {
  background: #757575; }

.gray .colors .color-60 {
  background: #5c5c5c; }

.gray .colors .color-70 {
  background: #454545; }

.gray .colors .color-80 {
  background: #2e2e2e; }

.gray .colors .color-90 {
  background: #1b1b1b; }

.gray .colors .color-100 {
  background: #000000; }

.gray-cool .colors .color-1 {
  background: #fbfcfd; }

.gray-cool .colors .color-2 {
  background: #f7f9fa; }

.gray-cool .colors .color-3 {
  background: #f5f6f7; }

.gray-cool .colors .color-4 {
  background: #f1f3f6; }

.gray-cool .colors .color-5 {
  background: #edeff0; }

.gray-cool .colors .color-10 {
  background: #dcdee0; }

.gray-cool .colors .color-20 {
  background: #c6cace; }

.gray-cool .colors .color-30 {
  background: #a9aeb1; }

.gray-cool .colors .color-40 {
  background: #8d9297; }

.gray-cool .colors .color-50 {
  background: #71767a; }

.gray-cool .colors .color-60 {
  background: #565c65; }

.gray-cool .colors .color-70 {
  background: #3d4551; }

.gray-cool .colors .color-80 {
  background: #2d2e2f; }

.gray-cool .colors .color-90 {
  background: #1c1d1f; }

.gray-warm .colors .color-1 {
  background: #fcfcfb; }

.gray-warm .colors .color-2 {
  background: #f9f9f7; }

.gray-warm .colors .color-3 {
  background: #f6f6f2; }

.gray-warm .colors .color-4 {
  background: #f5f5f0; }

.gray-warm .colors .color-5 {
  background: #f0f0ec; }

.gray-warm .colors .color-10 {
  background: #e6e6e2; }

.gray-warm .colors .color-20 {
  background: #cac9c0; }

.gray-warm .colors .color-30 {
  background: #afaea2; }

.gray-warm .colors .color-40 {
  background: #929285; }

.gray-warm .colors .color-50 {
  background: #76766a; }

.gray-warm .colors .color-60 {
  background: #5d5d52; }

.gray-warm .colors .color-70 {
  background: #454540; }

.gray-warm .colors .color-80 {
  background: #2e2e2a; }

.gray-warm .colors .color-90 {
  background: #171716; }
